

@media screen and (max-width: 991.20px) {

    .a-Gallery {
        margin-bottom: 35px;
    }
    .our-team-col{
        margin-bottom: 15px;
    }
    .cart{
        margin-bottom: 35px;
    }
    .vegetables-img{
        margin-bottom: 20px;
    }
    .carousel h1{
        font-size: 100px;
    }
    .nav_bars{
        float: right;
    }

    .container{
        min-width: 100% !important;
    }

    .img-befor::before{
        height: 38px;
        top: -20px;
    }

    .Products::before{
        bottom: -10px;
    }
    }
    @media (min-width: 1111px)  and (max-width: 1400px)  {
        .img-befor::before{
            height: 38px;
            top: -22px;
        }

    }


    @media screen and (max-width: 1120px) {
        .Products::before{
            bottom: -10px;

        }

        .img-befor::before{
            height: 38px;
            top: -20px;
        }
    }
    /* @media (max-width: 1400px) and (min-width: 950px){

    } */
  

  